table {
    background-color: red;
}

tr {
    background-color: yellow;
}

    tr:hover {
        background-color: lightgreen;
    }

caption {
    background-color: lightyellow;
}
.center-cell{
    text-align:center;
    font-weight:bold;
}
